In [1]:
import numpy as np
import pandas as pd
import re
from collections import Counter
import pickle
import random

### Get phrase counts

In [3]:
with open('../pickles/counter_Z.pickle', 'rb') as inputfile:
    a = pickle.load(inputfile)
with open('../pickles/counter_Z2.pickle', 'rb') as inputfile:
    b = pickle.load(inputfile)
with open('../pickles/counter_Z3.pickle', 'rb') as inputfile:
    c = pickle.load(inputfile)
with open('../pickles/counter_Z4.pickle', 'rb') as inputfile:
    d = pickle.load(inputfile)
with open('../pickles/counter_Z5.pickle', 'rb') as inputfile:
    e = pickle.load(inputfile)
with open('../pickles/counter_Z6.pickle', 'rb') as inputfile:
    f = pickle.load(inputfile)

In [4]:
phrase_counter = a + b + c + d + e + f

In [5]:
top300k = phrase_counter.most_common(300000)

### Get word counts

In [6]:
import scipy.sparse

In [7]:
count_vect = scipy.sparse.load_npz('../data/count_vect.npz')
feat_vect = np.load('../data/vect_feat.npy')

In [8]:
count_dict = {'word': feat_vect, 'count':count_vect.sum(axis = 0).tolist()[0]}

In [9]:
count_df = pd.DataFrame(count_dict)

In [10]:
count_df = count_df.set_index('word', drop=True)

In [11]:
count_df.head()

         count
word
00        2463
000      60512
0000        26
00000        4
0000000      1

In [12]:
freq_dict = count_df.to_dict()['count']

### Make df

In [13]:
arr = np.array(top300k)
df300k = pd.DataFrame(data=arr, columns=['phrases', 'counts'])

In [14]:
split_df = df300k.phrases.str.split(' ', expand=True)
split_df['phrases'] = df300k.phrases
split_df['phrase_count'] = df300k.counts.astype(int)
split_df.rename(columns={0:'w_one', 1:'w_two'}, inplace=True)

In [15]:
split_df.shape

(300000, 4)

In [16]:
split_df.head(5)

    w_one  w_two       phrases  phrase_count
0    last   year     last year         19906
1    last   week     last week         15305
2   years    ago     years ago         14025
3   first   time    first time         10717
4  social  media  social media         10634

In [17]:
def isEnglish(s):
    return s.isascii()

In [18]:
not_english = split_df[~split_df.phrases.apply(lambda x: isEnglish(x))]

In [19]:
split_df = split_df[split_df.phrases.apply(lambda x: isEnglish(x))]

In [20]:
split_df = split_df[split_df.w_one.apply(lambda x: len(x)) > 2]
split_df = split_df[split_df.w_two.apply(lambda x: len(x)) > 2]

In [21]:
split_df['freq_one'] = split_df.w_one.apply(lambda x: freq_dict[x])
split_df['freq_two'] = split_df.w_two.apply(lambda x: freq_dict[x])

In [22]:
split_df['mean_freq_ratio'] = split_df.phrase_count / ((split_df.freq_one + split_df.freq_two)/2)

In [23]:
infinity = split_df[split_df.mean_freq_ratio > 10].index
split_df.drop(infinity, axis=0, inplace=True)

In [27]:
top10k = split_df.mean_freq_ratio.nlargest(10000).index

In [28]:
top10k

Int64Index([288873,  65357,  72692,  72641, 133769, 257426,  13521, 106351,
            282562,  43604,
            ...
            274039, 288951,  22975,  67386,   6786, 116206, 152514,   4519,
             38900,  86279],
           dtype='int64', length=10000)

In [30]:
new_df = split_df.loc[top10k,:]

In [32]:
new_df.head()

,w_one,w_two,phrases,phrase_count,freq_one,freq_two,mean_freq_ratio
288873,hemolytic,uremic,hemolytic uremic,5,5,5,1.000000
65357,hoi,polloi,hoi polloi,21,24,23,0.893617
72692,vas,deferens,vas deferens,20,28,20,0.833333
72641,situs,inversus,situs inversus,20,25,24,0.816327
133769,myocardial,infarction,myocardial infarction,11,13,14,0.814815

In [35]:
new_df[(new_df.mean_freq_ratio < .3) & (new_df.mean_freq_ratio > .2)]

,w_one,w_two,phrases,phrase_count,freq_one,freq_two,mean_freq_ratio
2565,pepper,spray,pepper spray,301,1029,982,0.299354
15222,softwood,lumber,softwood lumber,75,99,404,0.298211
2555,fetal,tissue,fetal tissue,303,823,1247,0.292754
105,receive,updates,receive updates,2113,9569,4896,0.292153
5055,densely,populated,densely populated,180,318,918,0.291262
176588,bete,noire,bete noire,9,11,51,0.290323
1843,secured,unconditional,secured unconditional,384,2037,615,0.289593
21056,haute,couture,haute couture,57,162,232,0.289340
51308,prefrontal,cortex,prefrontal cortex,27,31,157,0.287234
97263,fidget,spinners,fidget spinners,15,44,61,0.285714
195212,whirling,dervish,whirling dervish,8,45,11,0.285714
247290,boa,constrictor,boa constrictor,6,35,7,0.285714
182,blocking,ads,blocking ads,1672,3585,8139,0.285227
3868,genetically,modified,genetically modified,220,687,863,0.283871
174,status,quo,status quo,1697,9788,2213,0.282810
141229,tater,tots,tater tots,11,24,55,0.278481
3633,unaccompanied,minors,unaccompanied minors,233,660,1037,0.274602
17125,non,grata,non grata,68,413,83,0.274194
187709,venous,thrombosis,venous thrombosis,8,25,34,0.271186
213884,rabble,rousers,rabble rousers,7,42,10,0.269231
4725,peanut,butter,peanut butter,190,496,918,0.268741
58050,amino,acids,amino acids,24,57,123,0.266667
50,sexual,assault,sexual assault,3643,16271,11159,0.265622
124494,summa,cum,summa cum,12,29,62,0.263736
436,card,processor,card processor,939,6026,1180,0.260616
266,background,checks,background checks,1311,6429,3651,0.260119
1651,battleground,prediction,battleground prediction,411,1868,1298,0.259634
21065,scantily,clad,scantily clad,57,68,374,0.257919
170,display,ads,display ads,1718,5254,8139,0.256552
43847,conscientious,objector,conscientious objector,30,192,43,0.255319
...,...,...,...,...,...,...,...
5432,lame,duck,lame duck,170,417,1070,0.228648
88534,homeopathic,teething,homeopathic teething,16,65,76,0.226950
141876,inductive,coupling,inductive coupling,11,31,66,0.226804
61936,irritable,bowel,irritable bowel,23,87,118,0.224390
1045,conventional,wisdom,conventional wisdom,548,2818,2071,0.224177
879,inner,circle,inner circle,612,2521,2982,0.222424
2435,quid,pro,quid pro,312,379,2441,0.221277
74251,rotator,cuff,rotator cuff,19,22,151,0.219653
7763,involuntary,manslaughter,involuntary manslaughter,129,389,786,0.219574
6788,genetically,engineered,genetically engineered,144,687,625,0.219512
24089,grossly,generalistic,grossly generalistic,51,410,58,0.217949
134,chemical,weapons,chemical weapons,1892,5070,12434,0.216179
268695,graphing,calculators,graphing calculators,6,10,46,0.214286
107810,untitled,unmastered,untitled unmastered,14,112,19,0.213740
223,voter,fraud,voter fraud,1487,7798,6246,0.211763
16292,wreaking,havoc,wreaking havoc,71,99,572,0.211624
193,credit,card,credit card,1606,9157,6026,0.211552
15205,bumper,stickers,bumper stickers,75,348,365,0.210379
247,hedge,fund,hedge fund,1373,2612,10447,0.210276
21609,maple,syrup,maple syrup,56,244,289,0.210131
8758,sparsely,populated,sparsely populated,117,198,918,0.209677
5231,bully,pulpit,bully pulpit,175,1258,415,0.209205
14082,bumper,sticker,bumper sticker,80,348,419,0.208605
4734,soap,opera,soap opera,189,706,1114,0.207692
6414,downward,spiral,downward spiral,150,706,744,0.206897
1047,expanding,stimulus,expanding stimulus,547,3668,1623,0.206766
424,mental,illness,mental illness,950,6420,2879,0.204323
242378,aortic,aneurysm,aortic aneurysm,6,20,39,0.203390
225068,photon,thrusters,photon thrusters,7,23,46,0.202899
140141,noblesse,oblige,noblesse oblige,11,15,94,0.201835

# Stop

### Get Part of Speech

In [10]:
# lem = WordNetLemmatizer()
# lem_words = {}
# for x in df.word.values:    
#     pos = nltk.pos_tag([x])
#     for w,p in pos:
#         p_new = get_wordnet_pos(p)
#         d = lem.lemmatize(w,p_new)
#     lem_words[x] = d

In [11]:
# def get_wordnet_pos(treebank_tag):

#     if treebank_tag.startswith('J'):
#         return wordnet.ADJ
#     elif treebank_tag.startswith('V'):
#         return wordnet.VERB
#     elif treebank_tag.startswith('N'):
#         return wordnet.NOUN
#     elif treebank_tag.startswith('R'):
#         return wordnet.ADV
#     else:
#         return wordnet.NOUN

In [12]:
# for w,p in pos:
#     p_new = get_wordnet_pos(p)
#     lemmed_words.append(lem.lemmatize(w,p_new))
#     lemmed_sentence += (w + ' ')

In [13]:
# w1 = split_df.w_one.replace(lem_words)

In [14]:
# w2 = split_df.w_two.replace(lem_words)

In [15]:
# split_df['w1'] = w1
# split_df['w2'] = w2

### We have DF with row for every phrase. 
### Now make one with every word occuring in all phrases
### Count how often each word occurs as first, how often it occurs second

In [47]:
w1_count = Counter(split_df.w_one.values)
w2_count = Counter(split_df.w_two.values)

In [48]:
word_count = w1_count + w2_count
words_inc = list(set(word_count.keys()))
df = pd.DataFrame(words_inc, columns=['word'])
df['start_count'] = df.word.apply(lambda x: w1_count[x])
df['end_count'] = df.word.apply(lambda x: w2_count[x])

In [49]:
df.shape

(22842, 3)

In [ ]:
df

In [20]:
nix_words = ['made', 'make', 'making', 'liking', 'looking', 'like', 'liked', 'likes', 
             'many', 'even', 'though', 'look', 'looks', 'looked', 'take', 'took', 'know', 
             'knew', 'knows', 'say', 'said', 'go', 'got', 'much', 'often', 'who', 'whom', 
             'whose', 'their', 'theirs', 'dozen', 'might', 'may', 'never', 'also', 'still',
             'expressed', 'went', 'expresses', 'express', 'expressing', 'saying', 'u']

'''
when, where, why, that

'''
pass

In [21]:
df = df[~df.word.isin(nix_words)]
split_df = split_df[~split_df.w_two.isin(nix_words)]
split_df = split_df[~split_df.w_one.isin(nix_words)]

In [22]:
split_df.shape

(89479, 3)

In [24]:
df['start_count'] = df.word.apply(lambda x: split_df[split_df.w_one==x]['w_one'].count())

In [25]:
df['end_count'] = df.word.apply(lambda x: split_df[split_df.w_two==x]['w_two'].count())

In [26]:
df = df[(df.start_count > 3)&(df.end_count > 3)]
# print(df.shape)
# df = df[df.end_count > 7]
# print(df.shape)
# df = df[df.]

In [28]:
split_df = split_df[split_df.w_one.isin(df.word.values)]
split_df = split_df[split_df.w_two.isin(df.word.values)]

In [29]:
split_df.shape

(53133, 3)

In [31]:
# csv = split_df.loc[:,['phrases', 'w1', 'w2']].sort_values(['w1'])

In [32]:
# csv.to_csv('phrase_list.csv')

maybe remove:
made, make, like, many, even, though, first, look, time, (prepositions??) , take, used, using, use, say, know, le, get, much, go, got, often, who, whose, dozen, might, may, never, also, say, seem, still, express,

In [33]:
df.shape

(2197, 3)

In [34]:
# df['before'] = df.word.apply(lambda x: split_df[split_df.w_two == x].w_one.values)

In [36]:
df['after'] = df.word.apply(lambda x: split_df[split_df.w_one == x].w_two.values)

In [37]:
df.end_count.sum()

69003

### Test lem word replacement

In [38]:
# df['word_test'] = df.word

In [39]:
# df.word_test = df.word_test.replace(lem_words)
# df.word_test.shape

In [40]:
# ct_dict = df.groupby('word_test').count().word.to_dict()

In [41]:
# df['repeats'] = df.word_test.replace(ct_dict)

In [42]:
df.head()

,word,start_count,end_count,after
6,management,24,26,"[team, company, style, firm, system, fee, skil..."
8,normal,43,12,"[life, people, time, person, level, human, rul..."
13,written,23,27,"[statement, testimony, response, question, boo..."
14,wounded,9,11,"[people, soldier, officer, veteran, man, hundr..."
21,born,10,17,"[citizen, outside, without, classified, female..."

In [43]:
df['all_words'] = df.start_count + df.end_count

In [44]:
df.sort_values(by=['all_words'], ascending=False)

,word,start_count,end_count,after,all_words
7469,new,901,225,"[book, administration, president, study, repor...",1126
1874,people,528,504,"[want, think, around, feel, died, dead, living...",1032
8845,political,590,201,"[party, analyst, system, leader, class, news, ...",791
372,first,638,70,"[time, place, reported, step, half, round, thi...",708
4815,another,441,153,"[way, person, example, man, country, woman, re...",594
120,last,174,405,"[night, time, summer, season, fall, weekend, d...",579
1129,without,276,300,"[fear, ever, evidence, knowing, charge, gettin...",576
8929,state,285,234,"[law, government, medium, official, attorney, ...",519
842,around,46,469,"[town, since, campus, half, people, long, time...",515
12110,since,80,410,"[last, taking, early, become, leaving, late, b...",490
936,get,346,131,"[back, away, better, involved, along, people, ...",477
1555,government,328,144,"[official, agency, force, employee, spending, ...",472
3920,public,326,136,"[school, health, safety, service, policy, opin...",462
5947,woman,209,245,"[named, without, president, voter, wearing, ar...",454
6467,back,92,360,"[home, seat, together, away, control, door, te...",452
10601,every,304,146,"[single, time, night, state, person, bit, turn...",450
6249,campaign,251,165,"[rally, event, finance, official, stop, rhetor...",416
7254,company,188,225,"[called, announced, based, behind, executive, ...",413
11946,time,170,236,"[since, around, period, last, spent, soon, eve...",406
9680,group,165,237,"[called, known, based, including, claimed, sup...",402
10360,right,167,228,"[thing, group, away, activist, movement, way, ...",395
1782,policy,183,210,"[adviser, change, issue, toward, position, pro...",393
9773,official,268,122,"[confirmed, believe, statement, state, governm...",390
11143,really,329,53,"[good, want, hard, need, important, think, bad...",382
2425,good,292,90,"[news, thing, job, reason, idea, enough, time,...",382
4901,among,121,254,"[others, white, voter, woman, black, people, y...",375
1295,le,235,121,"[likely, money, safe, expensive, time, importa...",356
6018,police,214,126,"[officer, department, chief, shooting, force, ...",340
11452,great,296,40,"[story, deal, thing, job, people, country, nat...",336
3485,several,232,102,"[time, hundred, hour, people, decade, state, r...",334
...,...,...,...,...,...
4867,earn,5,4,"[money, le, enough, back]",9
6856,deny,5,4,"[service, entry, coverage, whether, people]",9
11549,resigned,5,4,"[last, amid, rather, following, earlier]",9
10993,compromise,5,4,"[kept, bill, candidate, national, measure]",9
3850,chocolate,5,4,"[chip, bar, factory]",9
1614,mail,4,5,"[message, fraud, truck]",9
2852,startup,4,5,"[called, company, world]",9
9758,ranking,4,5,"[member, system, point, official]",9
4470,subpoena,4,4,"[power, issued, related]",8
5109,creates,4,4,"[new, job, regarding, problem]",8
3473,exhibition,4,4,"[game, space, hall, season]",8
9433,passport,4,4,"[control, photo, application]",8
3074,picking,4,4,"[fight, side]",8
11321,panic,4,4,"[attack, among]",8
11936,jumped,4,4,"[onto, back, ship]",8
8701,comeback,4,4,"[victory, story, win]",8
8710,knee,4,4,"[injury, replacement, pain]",8
8744,slip,4,4,"[away, back, dress, past]",8
7201,parliament,4,4,"[building, voted, member, passed]",8
2610,rely,4,4,"[heavily, upon, solely, le]",8
2156,edited,4,4,[video],8
11923,scholarship,4,4,"[program, fund, money, offer]",8
7753,downtown,4,4,"[area, street, hotel, office]",8
6950,asks,4,4,"[whether, people, voter, question]",8
6932,riot,4,4,"[police, broke]",8
9032,log,4,4,"[show, back, onto]",8
3116,cream,4,4,"[shop, truck]",8
4079,heavyweight,4,4,"[title, championship]",8
6855,disclose,4,4,"[meeting, information, payment, detail]",8
7288,library,4,4,"[card, book, director, system]",8

In [45]:
### Examples of why this lemma doesn't work -- adopted home --> adopt home ; disappointing result --> disappoint result

In [46]:
### don't think this adds anything new, same as other column...

#df['num_after'] = df.after.str.len()

### Consider drops

In [47]:
new_df = df.set_index(df.word).drop('word', axis=1)
new_df.head(20)

,start_count,end_count,after,all_words
word,,,,
management,24,26,"[team, company, style, firm, system, fee, skil...",50
normal,43,12,"[life, people, time, person, level, human, rul...",55
written,23,27,"[statement, testimony, response, question, boo...",50
wounded,9,11,"[people, soldier, officer, veteran, man, hundr...",20
born,10,17,"[citizen, outside, without, classified, female...",27
star,24,58,"[power, player, turn, system, witness, turned,...",82
provides,18,8,"[free, service, expert, additional, support, a...",26
global,162,25,"[economy, market, financial, temperature, trad...",187
support,89,185,"[among, group, behind, system, staff, network,...",274
bar,18,38,"[citizen, owner, entry, people, elected, fight...",56
mile,22,11,"[away, per, north, south, east, west, outside,...",33
daily,40,8,"[life, briefing, press, newspaper, routine, in...",48
disabled,10,5,"[list, people, reporter, child, veteran, perso...",15
martial,4,5,"[art, law, artist, beat]",9
legally,30,4,"[required, allowed, responsible, changed, poss...",34
gave,26,38,"[birth, way, rise, away, money, speech, people...",64
single,114,17,"[mother, market, person, woman, parent, word, ...",131
militia,8,6,"[group, member, leader, fighter, fighting, for...",14
employer,7,18,"[plan, coverage, added, must, pay]",25
due,10,41,"[process, back, date, course, time, next, late...",51

In [61]:
new_df.head(50).to_csv('top50.csv')

In [48]:
# w2_filt = { x: count for x, count in w2_count.items() if w2_count[x] >= 10 }
# w1_filt = { x: count for x, count in w1_count.items() if w1_count[x] >= 10 }
# print(len(w2_filt))
# print(len(w1_filt))

In [49]:
temp_df = pd.DataFrame([df.word, df.after]).T

In [50]:
temp_df = temp_df.set_index(temp_df.word).drop('word', axis=1)

In [51]:
word_dict0 = temp_df.T.to_dict('list')

In [52]:
word_dict = {k:v[0].tolist() for k, v in word_dict0.items()}

In [63]:
with open('temp_dict.pickle', 'wb') as outputfile:
    pickle.dump(word_dict, outputfile)

In [53]:
### pick key randomly
word_list = []
word1 = random.choice(list(word_dict.keys()))
word_list.append(word1)

In [54]:
def pick_new(l_word, word_list):
    rng = list(range(len(word_dict[l_word])))
    random.shuffle(rng)
    random.shuffle(rng)
    choices = list(np.array(word_dict[l_word])[rng])
    for i in range(len(choices)):
        l = len(choices)
        if l > 0:
            if choices[i] in word_dict.keys():
                if choices[i] not in word_list:
                    new_word = choices[i]
                    word_list.append(new_word)
                    break
                else:
                    choices.remove(choices[i])
        else:
            raise InputError('No choices left')
    return new_word, word_list

In [ ]:
'''
Eliminate repeats to avoid :

Dogs 
Walk
Dogs
Walk
...

'''
pass

In [55]:
def pick_set():
    word_list = []
    word1 = random.choice(list(word_dict.keys()))
    word_list.append(word1)
    
    word2, word_list = pick_new(word1, word_list)
    word3, word_list = pick_new(word2, word_list)
    word4, word_list = pick_new(word3, word_list)
    word5, word_list = pick_new(word4, word_list)
    word6, word_list = pick_new(word5, word_list)
    word7, word_list = pick_new(word6, word_list)
    word8, word_list = pick_new(word7, word_list)
    word9, word_list = pick_new(word8, word_list)
    word10, word_list = pick_new(word9, word_list)
    return word_list

In [58]:
list1 = pick_set()
list2 = pick_set()
list3 = pick_set()
list4 = pick_set()
list5 = pick_set()
list6 = pick_set()
list7 = pick_set()
list8 = pick_set()
list9 = pick_set()
list10 = pick_set()
list11 = pick_set()
list12 = pick_set()
list13 = pick_set()

In [62]:
print(list1)
print(list2)
print(list3)
print(list4)
print(list5)
print(list6)
print(list7)
print(list8)
print(list9)
print(list10)
print(list11)
print(list12)
print(list13)

['negative', 'statement', 'later', 'allowed', 'people', 'fought', 'hard', 'thing', 'become', 'president']
['terrorist', 'crime', 'rose', 'gold', 'standard', 'regarding', 'immigration', 'enforcement', 'activity', 'outside']
['eating', 'dinner', 'party', 'already', 'talking', 'politics', 'right', 'man', 'started', 'training']
['simply', 'call', 'ended', 'without', 'trying', 'new', 'history', 'department', 'need', 'today']
['comment', 'came', 'away', 'money', 'talk', 'begin', 'work', 'closely', 'followed', 'suit']
['seem', 'increasingly', 'turned', 'head', 'next', 'meet', 'weekly', 'column', 'called', 'cop']
['positive', 'note', 'taken', 'inside', 'story', 'straight', 'man', 'fell', 'sharply', 'cut']
['bankruptcy', 'last', 'winter', 'blue', 'blood', 'test', 'run', 'without', 'anything', 'unusual']
['household', 'item', 'including', 'cutting', 'deal', 'since', 'news', 'agenda', 'without', 'receiving']
['shot', 'behind', 'bar', 'elected', 'lawmaker', 'last', 'good', 'effect', 'immediately', 'attracted']
['scholarship', 'fund', 'abortion', 'per', 'season', 'began', 'coming', 'together', 'every', 'female']
['educated', 'person', 'per', 'user', 'experience', 'via', 'trade', 'data', 'regarding', 'illegal']
['half', 'time', 'machine', 'gun', 'via', 'social', 'network', 'security', 'crisis', 'point']

In [34]:
word2, word_list = pick_new(word1, word_list)
word2

'released'

In [35]:
word3, word_list = pick_new(word2, word_list)
word3

'immediately'

In [36]:
word4, word_list = pick_new(word3, word_list)
word4

'upon'

In [37]:
word5, word_list = pick_new(word4, word_list)
word5

'release'

In [38]:
word6, word_list = pick_new(word5, word_list)
word6

'video'

In [39]:
word7, word_list = pick_new(word6, word_list)
word7

'game'

In [40]:
word8, word_list = pick_new(word7, word_list)
word8

'behind'

In [41]:
word9, word_list = pick_new(word8, word_list)
word9

'wall'

In [42]:
word10, word_list = pick_new(word9, word_list)
word10

'around'